
/********
 Phonts
********/


@font-face {
    font-family: 'yokawerad';
    src: url('fonts/yokawerad-webfont-2.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'exo2';
    src: url('fonts/exo2-medium-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


/*********
	Middle Red Purple- #140152
	Raisin Black- #25291c
	Black Olive- 393e41
	RHYTHM- #847996
	Anti-flash white- #e8f1f2
*********/
h1 {
	font-size: 48px;
	font-family: 'exo2';
	padding: 10px 10px 10px 10px;
	color: #e8f1f2;
}

body {
	background-color: #393e41;

}


p {

	font-family: 'yokawerad', serif;
	color: #e8f1f2;




}

h2 {

	font-family: 'yokawerad', serif;



}


a {
	color: #847996;
}

a.selected, a:hover {
	color: 
}


.topimg  img{

	padding: 20px 20px;
	margin: 20px 20px;
}



.me img {
	max-width: 100%;
	padding: 5px 0 5px 0;

}



































































































































@media only screen and (max-width: 600px) {




}